In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [24]:
x = np.random.randint(0,10,(2,2))
print(x)

[[1 2]
 [8 6]]

In [26]:
for item in x:
    for inner_item in item:
        print(inner_item)

1
2
8
6

In [27]:
end = 100

curr = 0

while curr <= end:
    print(curr)
    curr += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [29]:
l = range(100)

squares = []

for i in l:
    squares.append(i**2)
    
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [31]:
#List comprehension (compare with above)

print([i**2 for i in range(100)])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [43]:
s = "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
for char in s:
    print(char, ord(char), ord(char)+1, chr(ord(char)+1))

L 76 77 M
o 111 112 p
r 114 115 s
e 101 102 f
m 109 110 n
  32 33 !
I 73 74 J
p 112 113 q
s 115 116 t
u 117 118 v
m 109 110 n
  32 33 !
i 105 106 j
s 115 116 t
  32 33 !
s 115 116 t
i 105 106 j
m 109 110 n
p 112 113 q
l 108 109 m
y 121 122 z
  32 33 !
d 100 101 e
u 117 118 v
m 109 110 n
m 109 110 n
y 121 122 z
  32 33 !
t 116 117 u
e 101 102 f
x 120 121 y
t 116 117 u
  32 33 !
o 111 112 p
f 102 103 g
  32 33 !
t 116 117 u
h 104 105 i
e 101 102 f
  32 33 !
p 112 113 q
r 114 115 s
i 105 106 j
n 110 111 o
t 116 117 u
i 105 106 j
n 110 111 o
g 103 104 h
  32 33 !
a 97 98 b
n 110 111 o
d 100 101 e
  32 33 !
t 116 117 u
y 121 122 z
p 112 113 q
e 101 102 f
s 115 116 t
e 101 102 f
t 116 117 u
t 116 117 u
i 105 106 j
n 110 111 o
g 103 104 h
  32 33 !
i 105 106 j
n 110 111 o
d 100 101 e
u 117 118 v
s 115 116 t
t 116 117 u
r 114 115 s
y 121 122 z
. 46 47 /

In [48]:
s_split = s.split()

In [57]:
long_words = []
for i in s_split:
    if len(i) > 5:
        long_words.append(i)
    else:
        print(f'"{i}" is too short.')
print(long_words)

"Lorem" is too short.
"Ipsum" is too short.
"is" is too short.
"dummy" is too short.
"text" is too short.
"of" is too short.
"the" is too short.
"and" is too short.
['simply', 'printing', 'typesetting', 'industry.']

In [61]:
lines = None
with open('RJ.txt') as f:
    lines = f.readlines()

In [85]:
words = []
for line in lines:
    split = line.split()
    for item in split:
        words.append(item.lower())

In [87]:
import pandas as pd

In [92]:
pd.Series(words).value_counts()

the        241
and        217
i          196
a          157
of         156
          ...
rooteth      1
are:         1
heels,       1
own,         1
taste        1
Length: 2639, dtype: int64